[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
django-cors-headers = "*"
drf-yasg = "*"
python-decouple = "*"
psycopg2 = "*"

[dev-packages]
autopep8 = "*"
django-silk = "*"

[requires]
python_version = "3.9"
